.idea/.name
.idea/encodings.xml
.idea/compiler.xml
.idea/Fantasy-Game.iml
.idea/misc.xml
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml